@using ShoppingCart_ASP.NET_MVC5.Models



<style>
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }

        .row.display-flex > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
</style>


@Html.ActionLink("Shopping Cart", "ViewCart", "Purchase", "", null)<span class="glyphicon glyphicon-shopping-cart" style="font-size:20px;"></span>

<p id="count" value="" class="badge">@ViewBag.Count</p>

@{

    var sessionId = ViewData["sessionId"];


    ViewBag.Title = "Gallery";

    var customerid = ViewBag.customer;

}



@Html.ActionLink("Logout", "Logout", "Auth", new { sessionId = @sessionId }, null)

@Html.ActionLink("Purchases", "Purchase", "Purchase", new { customer_id = @customerid }, null)



<input type="hidden" value="@sessionId" />

<form action="/Search/Partial" method="post">

    <input type="text" id="search" name="search" />

    <input type="submit" value="Search" />

</form>


<br/>



@{

    if (ViewBag.a == 1)

    {

        <div class="container-fluid">
            <divdiv class="row">
                @foreach (var product in (List<Product>)ViewData["pl"])
                {
                    <div class="col-sm-4">
                        <table class="table table-bordered">
                            <tr>
                                @*<td><img src="~/images/@product.pro_image" /></td>*@
                             <td>
                                <img src="~/images/charts.png" style="width:50%" />
                                @product.pro_name
                                @product.pro_desc
                                @product.pro_id

                                $@product.pro_price.00
                                <button onclick="incrementCookie(@product.pro_id)" name="compare">ADD</button>
                               @product.pro_image
                            </td>
                            </tr>
                        </table>
                    </div>

                }

            </div>


    }

    else

    {

        @Html.Partial("PartialGallery")

    }

}
<script>

    window.onload = function () {

    }



    function callmeagain(aaa) {
        aaa = aaa + 1;
        document.getElementById("count").innerHTML = aaa;
        return aaa;
    }
</script>

<script type="text/javascript">


    function incrementCookie(pro_id) {
        var aaa = parseInt(getCookie("Count"));
        document.cookie = "Count" + "=" + callmeagain(aaa) + "; Path=/";

        if (getCookie(pro_id) == "") {
            document.cookie = pro_id + "=" + 1 + "; Path=/";
        }
        else {
            var qty = parseInt(getCookie(pro_id));
            document.cookie = pro_id + "=" + (1 + qty) + "; Path=/";

        }
    }

    function getCookie(cname) {

        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }


</script>
