@using ShoppingCart_ASP.NET_MVC5.Models



<style>
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }

        .row.display-flex > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
</style>

@{

    var sessionId = ViewData["sessionId"];

    ViewBag.Title = "Gallery";

    var customerid = ViewBag.customer;

}



@Html.ActionLink("Logout", "Logout", "Auth", new { sessionId = @sessionId }, null)

@Html.ActionLink("Purchases", "Purchase", "Purchase", new { customer_id = @customerid }, null)



<input type="hidden" value="@sessionId" />

<form action="/Search/Partial" method="post">

    <input type="text" id="search" name="search" />

    <input type="submit" value="Search" />

</form>



@{

    if (ViewBag.a == 1)

    {

        <div class="container">
            <div class="row display-flex">
                @foreach (var product in (List<Product>)ViewData["pl"])
                {
                    <div class="col-sm-4">
                        <p>@product.pro_id</p>
                        <h1>@product.pro_name</h1>
                        <p>@product.pro_desc</p>
                        <p>@product.pro_price</p>
                        <p><img src="~/images/@product.pro_image" /></p>
                    </div>
                }

            </div>
        </div>

    }

    else

    {

        @Html.Partial("PartialGallery")

    }

}