@using ShoppingCart_ASP.NET_MVC5.Models



<style>
    .row.display-flex {
        display: flex;
        flex-wrap: wrap;
    }

        .row.display-flex > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
</style>

@Html.ActionLink("Cart", "ViewCart", "Purchase","", null)
Cart<p id="count" class="badge">0</p>

@{

    var sessionId = ViewData["sessionId"];


    ViewBag.Title = "Gallery";

    var customerid = ViewBag.customer;

}



@Html.ActionLink("Logout", "Logout", "Auth", new { sessionId = @sessionId, username = @ViewBag.customer }, null)

@Html.ActionLink("Purchases", "Purchase", "Purchase", new { customer_id = @customerid }, null)



<input type="hidden" value="@sessionId" />

<form action="/Search/Partial" method="post">

    <input type="text" id="search" name="search" />

    <input type="submit" value="Search" />

</form>



@{

    if (ViewBag.a == 1)

    {

        <div class="container">
            <div class="row display-flex">
                @foreach (var product in (List<Product>)ViewData["pl"])
                {
                    <div class="col-sm-4">
                        <table>
                            <tr>
                                <td>$@product.pro_price.00</td>
                                <td>@product.pro_name</td>
                                <td>@product.pro_desc</td>
                                <td>@product.pro_id</td>
                            </tr>
                            <tr>
                                <td><img src="~/images/@product.pro_image" /></td>
                                <td><button onclick="incrementCookie(@product.pro_id)" name="compare">ADD</button></td>

                            </tr>
                        </table>
                    </div>

                }

            </div>
        </div>

    }

    else

    {

        @Html.Partial("PartialGallery")

    }

}


<script>
    var a = 0;
    function increment() {
        a = a + 1;
        document.getElementById("count").innerHTML = a;

    }
</script>

<script type="text/javascript">


    function incrementCookie(pro_id) {
        increment();

        if (getCookie(pro_id) == "") {
            document.cookie = pro_id + "=" + 1 + "; Path=/";
        }
        else {
            var qty = parseInt(getCookie(pro_id));
            document.cookie = pro_id + "=" + (1 + qty) + "; Path=/";
        }
    }

    function getCookie(cname) {

        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }


</script>
