@using ShoppingCart_ASP.NET_MVC5.Models





@{

    var sessionId = ViewData["sessionId"];

    ViewBag.Title = "Gallery";

    var customerid = ViewBag.customer;

}



@Html.ActionLink("Logout", "Logout", "Auth", new { sessionId = @sessionId }, null)

@Html.ActionLink("Purchases", "Purchase", "Purchase", new { customer_id = @customerid }, null)



<input type="hidden" value="@sessionId" />

<form action="/Search/Partial" method="post">

    <input type="text" id="search" name="search" />

    <input type="submit" value="Search" />

</form>



@{

    if (ViewBag.a == 1)

    {

        <table>

            @foreach (var product in (List<Product>)ViewData["pl"])

            {

                <tr>

                    <td>@product.pro_id</td>

                    <td>@product.pro_name</td>

                    <td>@product.pro_desc</td>

                    <td>@product.pro_price</td>

                    <td><img src="~/images/@product.pro_image" /></td>

                </tr>

            }





        </table>

    }

    else

    {

        @Html.Partial("PartialGallery")

    }

}