@model ShoppingCart_ASP.NET_MVC5.Models.Customer

@{

    ViewBag.Title = "Login";
    string errormsg = (string)ViewData["warning"];
}



<h2>Login</h2>



@using (Html.BeginForm("Home", "Home", FormMethod.Post))

{

    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.username)
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(model => model.username)
        </div>
        <div class="col-sm-6">
            @Html.ValidationMessageFor(model => model.username)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="col-sm-3">
            @Html.PasswordFor(model => model.password)
        </div>
        <div class="col-sm-6">
            @Html.ValidationMessageFor(model => model.password)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <input type="submit" value="Login" class="btn btn-default pull-right" />
        </div>
        <div class="col-sm-6">@errormsg</div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>