@model ShoppingCart_ASP.NET_MVC5.Models.Customer
@{

    ViewBag.Title = "Login";
    string errormsg = (string)ViewData["warning"];
    string errormsg1 = (string)ViewData["warning1"];
}
<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <br/>
         <div class="row">
             <div class="col-lg-6">
                 <div class="container-fluid">
                     <center><h1 style="font-family:Century Gothic">Just Cart </h1>
                     <img src="~/Images/cart1.png" style="width:50%">
                </div>
              </div>

                 <div class="col-lg-6">
                     @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                     {
                         <div class="container-fluid" >
                             <center>
                                 <br/>
                                 <div style="border:1px solid lightgrey;background-color:white;border-radius:30px;padding:50px; box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.6), 0 1px 10px 0 rgba(0, 0, 0, 0.19);">
                                     <div class="row">
                                         <div class="col-sm-12">
                                             @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = " Username", @style = "background-color:whitesmoke" })
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-sm-12">
                                             @Html.ValidationMessageFor(model => model.username, null, new { @style = "color:indianred" })
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-sm-12" style="color:indianred;">@errormsg1</div>
                                     </div>
                                     <br />

                                     <div class="row">
                                         <div class="col-sm-12">
                                             @Html.PasswordFor(model => model.password, new { @class = "form-control", @placeholder = " Password", @style = "background-color:whitesmoke" })
                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-sm-12">
                                             @Html.ValidationMessageFor(model => model.password, null, new { @style = "color:indianred" })
                                         </div>

                                     </div>
                                     <div class="row">
                                         <div class="col-sm-12" style="color:indianred;">@errormsg</div>
                                     </div>
                                     <br />
                                     <div class="row">
                                         <div class="col-sm-12">
                                             <input type="submit" style="width:80px;color:dimgray" value="Login" class="btn btn-default" />
                                         </div>
                                     </div>

                                 </div>
                             </center>
                         </div>
                     }
                   </div>
               </div>  
              <br/>
           <br/>
        </div>
  </div>

