
@using ShoppingCart_ASP.NET_MVC5.Models;

Cart<p id="count" value="" class="badge">@ViewBag.Count</p>
@Html.ActionLink("Continue Shopping", "Home", "Home", "", null)
<p>$<span id='subtotal'></span></p>
<p>Cart count: <span id='count'></span></p>
@{
    <table border='1' id='cart'>
        @foreach (var product in ViewBag.cart)
        {
        <tr>
            <td rowspan='2'><img src="~/images/@product.pro_image" /><br />@product.pro_name<br />@product.pro_desc</td>
            <td>Price:</td>
            <td>@product.pro_price</td>
            <td style="display: none">@product.pro_id</td>
        </tr>
            <tr>
                <td>Quantity:</td>
                <td><input type="number" oninput="sumprice()" value=@product.count /></td>
            </tr>
        }
    </table>

    @Html.ActionLink("Checkout", "Checkout", "Purchase", "", null)
}


<script>

    window.onload = function () {
        sumprice();
    }

    function callmeagain(aa) {
        aa = aa + 1;
        document.getElementById("count").innerHTML = aa;
        return aa;
    }

</script>

<script type="text/javascript">
    function sumprice() {
        var table, rows, price, i, qty, proid, subtotal, count;
        subtotal = 0;
        count = 0;
        table = document.getElementById("cart");
        rows = table.getElementsByTagName("tr");
        for (i = 0; i < rows.length / 2; i++) {
            price = parseInt(rows[i * 2].getElementsByTagName("td")[2].innerText);
            qty = parseInt(rows[i * 2 + 1].getElementsByTagName("input")[0].value);
            proid = rows[i * 2].getElementsByTagName("td")[3].innerText;
            changeCookie(proid, qty);
            if (qty == 0) {
                rows[i * 2].style.display = "none";
                rows[i * 2 + 1].style.display = "none";
            }
            subtotal = subtotal + price * qty;
            count = count + qty;
        }
        document.getElementById('subtotal').innerHTML = subtotal;
        document.getElementById('count').innerHTML = count;
        document.cookie = "Count=" + count + "; Path=/";
    }

    function changeCookie(pro_id, qty) {
        document.cookie = pro_id + "=" + qty + "; Path=/";
    }

  
</script>